<?php

return [
    'shopId'          => '',
    'scid'            => '',
    'shopPassword'    => '',
    'paymentAvisoUrl' => '',
    'checkOrderUrl'   => '',
    'successUrl'      => '',
    'failUrl'         => '',
];
